<%= meta_title("Кафедра Системного Анализа - Томский Университет Систем Управления и Радиоэлектроники") %>
<%menu :current => "root"%>

<!-- ####################################################################################################### -->
<div class="wrapper col3">
  <div id="featured_slide">
    <div id="featured_wrap">
      <ul id="featured_tabs">
        <li><a href="#fc1">Картинка о кафедре<br />
          <span>Что-нибудь интересное и поучительное.</span></a></li>
        <li><a href="#fc2">Картинка о кафедре<br />
          <span>Что-нибудь интересное и поучительное.</span></a></li>
        <li><a href="#fc3">Картинка о кафедре<br />
          <span>Что-нибудь интересное и поучительное.</span></a></li>
        <li class="last"><a href="#fc4">Картинка о кафедре<br />
          <span>Что-нибудь интересное и поучительное.</span></a></li>
      </ul>
      <div id="featured_content">
        <div class="featured_box" id="fc1"><img src="/assets/demo/1.gif" alt="" />
          <div class="floater"><a href="#">Далее &raquo;</a></div>
        </div>
        <div class="featured_box" id="fc2"><img src="/assets/demo/2.gif" alt="" />
          <div class="floater"><a href="#">Далее &raquo;</a></div>
        </div>
        <div class="featured_box" id="fc3"><img src="/assets/demo/3.gif" alt="" />
          <div class="floater"><a href="#">Далее &raquo;</a></div>
        </div>
        <div class="featured_box" id="fc4"><img src="/assets/demo/4.gif" alt="" />
          <div class="floater"><a href="#">Далее &raquo;</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col4">
  <div id="container">
    <div id="hpage">
      <ul>
        <li>
          <h2>Интереснейшная новость</h2>
          <div class="imgholder"><a href="#"><img src="/assets/demo/200x140.gif" alt="" /></a></div>
          <p>Это совсем ничего не значащий текст, просто создан с целью показать границы текствого блока. Тектовый блок новостей, служит для отображения превью новостей со ссылкой для чтения самой новости, а так же со ссылкой на все последние новости. Ура ура ура.</p>
          <p class="readmore"><a href="#">Далее &raquo;</a></p>
        </li>
        <li>
          <h2>Интереснейшная новость</h2>
          <div class="imgholder"><a href="#"><img src="/assets/demo/200x140.gif" alt="" /></a></div>
          <p>Это совсем ничего не значащий текст, просто создан с целью показать границы текствого блока. Тектовый блок новостей, служит для отображения превью новостей со ссылкой для чтения самой новости, а так же со ссылкой на все последние новости. Ура ура ура.</p>
          <p class="readmore"><a href="#">Далее &raquo;</a></p>
        </li>
        <li>
          <h2>Интереснейшная новость</h2>
          <div class="imgholder"><a href="#"><img src="/assets/demo/200x140.gif" alt="" /></a></div>
          <p>Это совсем ничего не значащий текст, просто создан с целью показать границы текствого блока. Тектовый блок новостей, служит для отображения превью новостей со ссылкой для чтения самой новости, а так же со ссылкой на все последние новости. Ура ура ура.</p>
          <p class="readmore"><a href="#">Далее &raquo;</a></p>
        </li>
        <li class="last">
          <h2>Интереснейшная новость</h2>
          <div class="imgholder"><a href="#"><img src="/assets/demo/200x140.gif" alt="" /></a></div>
          <p>Это совсем ничего не значащий текст, просто создан с целью показать границы текствого блока. Тектовый блок новостей, служит для отображения превью новостей со ссылкой для чтения самой новости, а так же со ссылкой на все последние новости. Ура ура ура.</p>
          <p class="readmore"><a href="#">Далее &raquo;</a></p>
        </li>
      </ul>
      <br class="clear" />
    </div>
  </div>
</div>